---
layout: main
url: contact
title: Contact Me - Wojciech Szymanski
description: Contact details for getting in touch with Wojciech Szymanski
---

<section class="contact row">
	<h1>Contact Me</h1>
	<p>Please get in touch via any of the below channels:</p>
	<ul class="contact-channels">
	{% if site.email %}
		<li>
		    <a href="#" class="generate-email" data-left="{{ site.email_left }}" data-right="{{ site.email_right }}">
		        <i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;Email
		    </a>
		</li>
    {% endif %}
    {% if site.github %}
		<li>
		    <a href="http://github.com/{{ site.github }}" class="external-link">
		        <i class="fa fa-github fa-2x"></i>&nbsp;&nbsp;Github
		    </a>
		</li>
    {% endif %}
    {% if site.linkedin %}
   		<li>
		    <a href="http://linkedin.com/in/{{ site.linkedin }}" class="external-link">
		        <i class="fa fa-linkedin fa-2x"></i>&nbsp;&nbsp;LinkedIn
		    </a>
		</li>
    {% endif %}
   	</ul>
</section>