<section class="about row" id="about">
    <article class="column">
        <header class="col-2">
            <img class="img-circle" src="assets/images/profile.png" />
            <h1>Wojciech Szymanski</h1>
            <h2>Senior Web Developer London</h1>
        </header>
        <div class="col-4">
            <p>I have over 8 years experience in building complex web applications both as a developer and as an architect.</p>
            <p>JavaScript is my thing though, and my favourite framework of choice for the last few years has been Angular. I am also a massive fan of Node and MongoDB.</p>
            <p>During my career I have worked on projects for clients from various industries, such as education, tourism and online gambling. I have been heavily involved in all stages of digital delivery starting from requirements gathering workshops  through to successfull go-lives, and post launch maintenance.</p>
            <p>I am currently available for contract work and would love to hear from you, so please get in touch via one of the channels below.</p>
            <div class="about-social">
                {% include social.html %}
            </div>
        </div>
    </article>
</section>