<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Product Developer at ANDigital</h1>
            <span><address>London</address>, April 2015 to Present</span>
        </header>
        <p>As a Product Developer, I take part in implementing digital solutions for ANDigital clients. I am involved in delivery phase, working together with client teams to help build and maintain various applications, from back office applications to client-facing websites. I also participate in developing internal tools useful for ANDigital business.</p>
    </article>
    <article>
        <header>
            <h1>Web Technology Consultant at Squiz UK</h1>
            <span><address>London</address>, January 2013 to March 2015</span>
        </header>
        <p>As a Web Technology Consultant, I architected web solutions to solve business problems using predominantly Squiz Matrix CMS and Funnelback enterprise search engine software. During analysis phases for projects I was responsible for gathering clients’ requirements, defining web solutions, producing annotated wireframes and detailed functional specification documents. During the build phases I lead and supported development teams and ensured that delivered end results adhered to previously scoped requirements and defined quality and web standards. </p>
    </article>
    <article>
        <header>
            <h1>Technical Lead at Squiz Australia</h1>
            <span><address>Melbourne / Sydney</address>, April 2010 to September 2012</span>
        </header>
        <p>During my employment at Squiz Australia, I played a key role in delivering projects in collaboration with Squiz Poland. As a tech lead I was involved in projects throughout their life cycle starting with requirements gathering process and functional specification writing, and moving on to a technical lead role during the build phase, testing and delivery. Besides guiding teams of frontend developers, I also actively participated in the implementation and development phase myself by developing more complex modules.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer at Squiz Poland</h1>
            <span><address>Szczecin</address>, July 2008 to March 2010</span>
        </header>
        <p>As a web developer in Squiz Poland, I played key role in product development cycle for Squiz Matrix CMS. My duties involved building new features, fixing reported software bugs and maintaining automated unit tests. During this time I also supported and took part in website builds for Squiz UK and PL clients, where my role was versatile and involved coding front-end interfaces and scripting content migration in PHP.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer at Artamea Poland</h1>
            <span><address>Szczecin</address>, July 2007 to February 2010</span>
        </header>
        <p>Development of an ERP system for a food distribution company. Bespoke system built using PHP / MySQL / JavaScript / Ajax.</p>
    </article>
</section>
