<header class="site-header row">
    <div class="column">
        <div class="header-logo">
            <a href="/">wszymanski<span class="highlight">.com</span></a>
        </div>
        <nav class="site-nav">
            <input type="checkbox" name="trigger" id="trigger" />
            <label for="trigger">menu</label>
            <ul class="nav">
                <li><a href="./projects">projects</a></li>
                <li><a href="./contact">contact me</a></li>
            </ul>
        </nav>
    </div>
</header>