<section class="thirteen columns">
    <h1>Training courses</h1>
    <article>
        <header>
            <h1>MongoDB for Developers</h1>
            <span><address>Mongo University</address>, August 2014</span>
        </header>
        <p>Took part in a six-week course covering the basics of MongoDB, including brief Python introduction. Finished with the score of 95%.</p>
    </article>
    <article>
        <header>
            <h1>Professional Scrum Master Lvl 1</h1>
            <span><address>Scrum.org</address>, April 2015</span>
        </header>
        <p>Passed first level certification for Scrum Master issued by Scrum.org</p>
    </article>
</section>