<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Technical</h1>
        </header>
        <ul>
            <li>HTML, CSS, JavaScript, JSON, SCSS</li>
            <li>Angular, Node, Express, Hapi, Lodash, jQuery</li>
            <li>Karma/Jasmine, Protractor</li>
            <li>PHP, Python</li>
            <li>MySQL, PostgreSQL</li>
            <li>MongoDB, Elasticsearch</li>
            <li>Unix, AWS</li>
            <li>Squiz Matrix CMS, Wordpress</li>
            <li>Git, CVS</li>
            <li>Gulp, Grunt</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Non-technical</h1>
        </header>
        <ul>
            <li>Solid problem-solving skills and analytical thinking</li>
            <li>Experienced in working within a team and co-operating with stakeholders at different levels within organisations</li>
            <li>Strong communication skill</li>
            <li>Maintaining effective and constructive communication between clients and production teams</li>
            <li>Fast learner, willing to expand knowledge in new technologies outside of current expertise</li>
        </ul>
    </article>
</section>