<section class="skills row" id="skills">
    <article class="column">
        <header>
            <h1>Skills</h1>
        </header>
        <p>My skills include, but are not limited to, the following:</p>
        <ul class="list skills">
            <li>JavaScript</li>
            <li>AngularJS</li>
            <li>jQuery</li>
            <li>Node</li>
            <li>MongoDB</li>
            <li>HTML5</li>
            <li>CSS / SASS</li>
            <li>Git</li>
            <li>Grunt</li>
        </ul>
        <a href="/Wojciech_Szymanski_CV.pdf" class="pdf-download external-link action-button">Download My CV</a>
    </article>
</section>