.site-footer {
    bottom: 0;
    padding: 1.5em 0;
    background: $primary-color;
    color: $dark-grey;
}

.footer-social {
    float: right;

    a {
        padding: 0 1em;
        text-decoration: none;
        &:hover {
            color: $pale-red;
        }
    }
}

.copyright {
    @include breakpoint(medium) {
        padding: 1em 0 0;
    }
    float: left;
    font-size: 0.8em;

    a {
        color: $pale-red;
    }
}