// Basic variables
$font-family: 'Varela Round', sans-serif;
$primary-color: #fff;
$background-color: #fcfcfc;

// Other colors
$white: #fff;
$light-grey: #888;
$grey: #888;
$dark-grey: #333;
$blue: #00009b;
$dark-blue: #003366;
$pale-red: #e25454;
$pale-yellow: #f8d5a0;
$beige: #f0ebe2;

// Mobile menu transition
$basic-transition-time: 0.5s;
$medium-transition-time: 1s;
$slow-transition-time: 2s;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
