body {
    color: $primary-color;
    font-family: $font-family;
    background-color: $background-color;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2, h3 {
    margin: 0 0 0.5em;
    font-weight: normal;
    line-height: 1em;
}

h1 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    font-weight: bold;
}

p {
    padding: 0 0 1em;
}

a {
    color: $dark-grey;
    text-decoration: none;
}

.highlight {
    color: $pale-red;
}

a:hover {
    color: $pale-red;
    text-decoration: underline;

    .highlight {
        color:  $dark-grey;
    }
}