<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="javascript,angular,angularjs,node,mongo,mongodb,grunt,git,web developer,fullstack developer,London">

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:image" content="{{ site.baseurl }}assets/images/profile.png">
    <meta property="og:url" content="http://wszymanski.com{% if page.url %}{{ page.url }}{% endif %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela+Round" />

  </head>
  <!-- Main Body-->
  <body>

    <!-- Header -->
    {% include header.html %}

    <main>

      {{ content }}

    </main>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Google Analytics -->
    {% include analytics.html %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}static/js/main.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>